.blazingtable {
    /*width: 100%;*/
}

.blazingtable table {
    width: 100%;
}

.blazingtable-header-title {
    font-size: 2em;
    font-weight: 200;
}

.blazingtable-head {
    width: 100%;
}

.blazingtable-head tr {
    background-color: #79e5f7;
}

.blazingtable-head th {
    border: 1px solid #bfbfbf;
}

.blazingtable-head-sortable {
    cursor: pointer;
}

.blazingtable-sorting-asc:after,
.blazingtable-sorting-desc:after {
    content: ' ';
    position: relative;
    left: 2px;
    border: 8px solid transparent;
}

.blazingtable-sorting-asc:after {
    top: 10px;
    border-top-color: green;
}

.blazingtable-sorting-desc:after {
    bottom: 10px;
    border-bottom-color: green;
}

.blazingtable-body {
    width: 100%;
}

.blazingtable-body div {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #bfbfbf;
}

.blazingtable-body-nodata {
    font-size: 2em;
    width: 200px;
    margin: 5px;
    text-align: center;
}

.blazingtable-body tr:nth-child(even) {
    background-color: #e4e4e4;
}

.blazingtable-body tr:hover {
    background-color: #93d8ff;
    cursor: pointer;
}

.blazingtable-body td {
    border: 1px solid #bfbfbf;
}

.blazingtable-page {
    cursor: pointer;
    height: 35px;
}