
<div class="blazingtable-header">
    <div class="row">
        <div class="col-4 blazingtable-header-title">
            @Title
        </div>
        <div class="col-7">

        </div>
        <div class="col-1">
            <span class="oi oi-wrench blazingtable-header-filter" aria-hidden="true"></span>
        </div>
    </div>
</div>


@code {

    [Parameter] public string Title { get; set; }

}
