@page "/weather"

@using BlazingTable.Data
@inject WeatherForecastService ForecastService

<h3>Weather</h3>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <BlazingTable Title="Blazing Table" TableData="@forecasts"></BlazingTable>
}

@code {

    List<WeatherForecast> forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastListAsync(DateTime.Now);
        //forecasts = new List<WeatherForecast>();
    }

}
